website/client/node_modules/
website/server/node_modules/
website/server/.env
TODO.txt
website/client/.env.development
website/client/.env.production
website/client/.env.local
website/client/.env.prod
website/client/build/*
